<nav class="navbar navbar-fixed-top navbar-default">
     <div class="container">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            
            {# ⬅️ IMPORTANTE: El logo apunta a la ruta 'index' #}
            <a  class="navbar-brand page-scroll" href="{{ path('index') }}">
              <span>[PHOTO]</span>
            </a>
         </div>
         <div class="collapse navbar-collapse navbar-right" id="menu">
            <ul class="nav navbar-nav">
                
                {# HOME #}
                <li class="{{ (app.request.attributes.get('_route') == 'index')  ? 'active': ''}} lien">
                    <a href="{{ path('index') }}">
                        <i class="fa fa-home sr-icons"></i> Home
                    </a>
                </li>

                {# ABOUT #}
                <li class="{{ (app.request.attributes.get('_route') == 'about')  ? 'active': ''}} lien">
                    <a href="{{ path('about') }}">
                        <i class="fa fa-bookmark sr-icons"></i> About
                    </a>
                </li>
                
                {# BLOG (Activo para 'blog' O 'single_post') #}
                <li class="{{ (app.request.attributes.get('_route') == 'blog' or app.request.attributes.get('_route') == 'single_post')  ? 'active': ''}} lien">
                    <a href="{{ path('blog') }}">
                        <i class="fa fa-file-text sr-icons"></i> Blog
                    </a>
                </li>
                
                {# CONTACT #}
                <li class="{{ (app.request.attributes.get('_route') == 'contact')  ? 'active': ''}} lien">
                    <a href="{{ path('contact') }}">
                        <i class="fa fa-phone-square sr-icons"></i> Contact
                    </a>
                </li>
            </ul>
         </div>
     </div>
   </nav>